* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #f4f2f3;
}

#root {
  max-width: 130rem;
  margin: auto;
}
