.appMenu {
  margin-bottom: 1.8rem;
}

.primaryOptions {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;

  padding-bottom: 2rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #c0c0c0;
}

.secondaryOptions {
  display: flex;
  gap: 3.2rem;

  min-height: 3.8rem;
}

@media (max-width: 43em) {
  .primaryOptions {
    flex-direction: column;
    gap: 1.8rem;
  }
}
