.btn {
  font-size: 1.6rem;
  color: #555;
  background-color: #fdfdfd;
  border-radius: 6px;
  border: none;

  padding: 0.6rem 1.2rem;

  transition: background-color 200ms;
  cursor: pointer;
}

.btn:hover {
  background-color: #ece5eb;
}

.btn:global(.active) {
  background-color: #c0a9bd;
  color: #000;
}
