.btn {
  font-size: 1.6rem;
  color: #555;
  background-color: #fdfdfd;
  border-radius: 6px;
  border: none;

  padding: 0.6rem 1.2rem;

  transition: background-color 200ms;
  cursor: pointer;
}

.btn:global(.active),
.btn:global(.btn--cta) {
  background-color: #c0a9bd;
  color: #000;
}

.btn:global(.btn--toggle):hover {
  background-color: #ece5eb;
}

.btn:global(.btn--cta):hover {
  background-color: #9a8797;
}

.btn:global(.active):hover {
  background-color: #c0a9bd;
}

.btn:disabled {
  color: #555;
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #d3d3d3;
}
