.filterContainer {
  flex: 1 1 auto;

  display: flex;
  justify-content: space-evenly;
}

.filter {
  height: 4.2rem;
  width: 4.2rem;
  padding: 0.3rem;
  border: 1px solid #c0a9bd;
  border-radius: 100%;

  color: #555;
  font-size: 1.8rem;
  background-color: #fdfdfd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  transition: transform 200ms, background-color 200ms;

  cursor: pointer;
}

.filter:global(.active) {
  transform: translateY(-1.2rem);
  color: #000;
  background-color: #c0a9bd;
}

.filter:hover {
  background-color: #ece5eb;
}

.filter:global(.active):hover {
  background-color: #c0a9bd;
}

.filter:global(.correct) {
  border: none;
  background-color: #afe1af;
}

.filter:global(.wrong) {
  border: none;
  background-color: #c48484;
}
