.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  width: 75%;
}

.sliderContainer input {
  width: 100%;
  accent-color: #cdbaca;

  cursor: pointer;

  transition: accent-color 200ms;
}

.sliderContainer input:hover {
  accent-color: #c0a9bd;
}
