.fret {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  background-color: #ddd;
  z-index: 1;
}

.fret::after {
  position: absolute;
  right: 0px;

  content: "";
  height: 100%;
  width: 4px;
  background-color: #c0c0c0;

  z-index: 997;
}

.inlayContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14.2rem;
}

.inlay {
  height: 3rem;
  width: 3rem;
  background-color: #555;

  transform: rotate(45deg);
}
