.input {
  width: 3.4rem;
  padding: 0.4rem;
  text-align: center;

  border: 2px solid #c0a9bd;
  border-radius: 6px;
}

.input:global(.inScale) {
  color: #000;
  background-color: #94a7ae;
  border: 1px solid #777;
}

.input:global(.scaleKey) {
  color: #000;
  background-color: #cbab58;
  border: 1px solid #777;
}
