.note {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.8rem;
  width: 3.8rem;
  padding: 0.3rem;
  border-radius: 100%;

  font-size: 1.8rem;
  background-color: #94a7ae;
  border: 1px solid #777;

  z-index: 999;
}
